In [2]:
import pandas as pd

In [3]:
# data: 
folder = 'data'
df = pd.read_excel(folder + "/ap-2023-ff-data.xlsx")
df.head(3)

   Month  Year  Mkt-RF     SMB     HML     RMW     CMA     MOM   STREV
0      1  1964  0.0224  0.0011  0.0147  0.0017  0.0151  0.0086 -0.0016
1      2  1964  0.0154  0.0030  0.0274 -0.0005  0.0090  0.0026  0.0019
2      3  1964  0.0141  0.0136  0.0336 -0.0221  0.0319  0.0075  0.0023